@charset "UTF-8";

body {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 10px;
     margin: auto;
     padding: auto;
     text-align: justify;
}

header {
     margin: 20px;
     padding: 10px;
     text-align: left;
     font-size: 15px;
     
}

header > h1 {
     background-color: #c7effc;
     border-radius: 5px;
     width: 700px;
     margin: 0px;
     padding: 10px;
     font-size: 20px;    
     
}

header img {
     background-image: 5px;
     font-size: 11px;
     margin-left: 5px;
     
}

header > dl {
     text-align: left;
     background-color: #f0f7ff;
     border-radius: 5px;
     width: 700px;
     padding: 10px;
     margin: 0px;
     font-size: 15px;
}

header a {
     text-decoration: none;
}

header a:hover {
     color: azure;
     text-decoration: underline;
}


main {
     text-align: justify;
     margin: 15px;
     padding: 10px;
}

main h3 {
     background-color: #eaeff0;
     border: 1px solid rgba(219, 255, 251, 0.878);
     border-radius: 10px;
     padding: 10px;
     height: 10px;
     width: 700px;
     
}

section {
     font-size: 11px;
     font-weight: 100;
}

article {
     padding: 4px;
     margin: 1px;
}

article > ul {
     margin: auto;
     padding: auto;
}

#FormAcademica {
     margin: auto;
     padding: 5px;
}

.cursos {
     margin: auto;    
     padding: 20px;
}


footer {
     background-color: black;
     color: white;
     text-align: center;
     margin: 0px;
     padding: 5px;
     border: 1px solid black;
}

footer > p {
     margin: 0px;
}
